<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LinkRedir</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><b>LinkRedir</b></span>
    </nav>
    <br>
    <br>
    {% if alert %}
    <div class="alert alert-success" role="alert">{{ alert }}</div>
    {% endif %}
    <br>
    <div class="container">
        <div class="jumbotron">
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="link">Link to Redirect</label>
                    <input type="text" class="form-control" id="link" aria-describedby="linkHelp" name="link">
                    <small id="linkHelp" class="form-text text-muted">i.e. https://google.com</small>
                </div>
                <div class="form-group">
                        <label for="weblink">Link Name</label>
                        <input type="text" class="form-control" id="weblink" aria-describedby="weblinkHelp" name="weblink">
                        <small id="weblinkHelp" class="form-text text-muted">i.e. https://go.jackmerrill.com/<b>ThisIsATest</b></small>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>            
        </div>
    </div>
</body>
</html>